<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" >
			<Component Id="DesktopShortcut" Guid="7B9F227C-DF50-4002-AF87-D7CF7837CD53">
				<Shortcut Id="DesktopShortcut" Name="MuncyCalculator" Description="A calculator app made by Ryan Muncy" Target="INSTALLFOLDER" WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\MuncyMadness\Calculator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</Directory>
	  <Directory/>
    </StandardDirectory>
  </Fragment>
</Wix>
